.best {
    width: 100%;
    height: 50vh;
    background-color: rgb(224, 167, 59);
    background-size: cover;
}

.best h3 {
    font-family: 'Forum', cursive; 
    font-size: 40px;
    color: black;  
    margin-left: 4%;  
}