.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(205,195,178);
}

.footer p {
    font-family: 'Forum', cursive; 
    font-size: 20px;
    margin-left: 42%;
    margin-bottom: 30px;
}

.Socials {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 40%;
}

.Socials li {
    margin-left: 20px;
}

.s {
    color: black;
}

.circles {
    display: flex;
    margin-left: 40%;
}

.circle {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: black;
}