.ordersum{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    font-size: 17px;
    line-height: 1.6;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Forum";
  }
  
  .button {
    background: #428bca;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background: #3876ac;
  }
  
  .modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 0.2s;
  }
  
  .modal-header h2,
  .modal-footer h3 {
    margin: 0;
  }
  
  .modal-header {
    background: rgb(55, 223, 163);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: flex-start;
  }
  
  .modal-body {
    padding: 10px 20px;
    background: #fff;
    float: left; 
    width: 49%;
    /* min-height: 40vh; */
    height: 40vh;
    overflow-y: scroll;
  }

  .detail-modal{
    padding: 10px 20px;
    background: #fff;
    float: right; 
    width: 40%;
    height: 40vh;
    overflow-y: scroll;
    overflow-x: scroll;
  }
  
  .totalmodal{
min-height: 10vh;
  }

  .orderitem{
    color: rgb(6, 144, 243);
  }

  .table_summary{
    height: 400px;
    border: 1px solid black;
    padding: 5px;
    border-spacing: 15px
  }
  
  .close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    /* from {
      opacity: 0;
    }
    to {
      opacity: 1;
    } */
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  