.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar li {
    margin-left: 20px;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.link {
    text-decoration: none;
    color: black;
}

.box {
    transition: 0.3s;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: rgb(85, 85, 158);
    color: rgb(198, 204, 209);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box h3 {
   padding-top: 10px;
}

.logo {
    margin-left: 20px;
    margin-top: 20px;
}

.box:hover {
    color: white;
}

.intro {
    text-align: center;
    margin-top: 300px;
}

.Landing {
    background-image: url(https://i.imgur.com/XK7Omo5.jpg);
    width: 100%;
    height: 980px;
    background-color: red;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.main {
    background-color: gray;
    padding: 0;
}

.intro h1 {
    color: aliceblue;
    font-family: 'Forum', cursive;
    text-shadow: .1em .1em 0 hsl(200 50% 30%);
    font-size: 80px;
}
