.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar li {
    margin-left: 20px;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:active {
    color: blueviolet;
}

.box {
    transition: 0.3s;
    width: 100px;
    height: 60px;
    text-align: center;
}

.box:hover {
    color: blue;
}
